/* Add or update styles as needed */
/* Common styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #222;
    background-image: url("./images/background.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    color: #eee;
    margin-bottom: 20vh;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

.profile-picture {
    width: 150px;
    margin: 0 auto;
}

.profile-picture img {
    width: 100%;
    border-radius: 50%;
}

.header-content {
    margin-top: 10px;
}

header h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
    background-color: #333;
    padding: 10px 20px;
    border-radius: 10px;
    color: #eee;
}

header p {
    font-size: 1.1em;
    margin-bottom: 5px;
}

.navbar {
    background-color: #333;
    padding: 10px 20px;
    text-align: center;
}

.navbar ul {
    list-style-type: none;
}

.navbar li {
    display: inline;
    margin-right: 20px;
}

.navbar a {
    color: #eee;
    text-decoration: none;
    font-size: 1.2em;
    transition: color 0.3s ease;
}

.navbar a:hover {
    color: #fff;
}

main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    padding: 20px;
}

.section-box {
    background-color: rgba(51, 51, 51, 0.7);
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.section-box:hover {
    background-color: rgba(68, 68, 68, 0.7);
}

.section-box h2 {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 10px;
    color: #eee;
}

.section-box p {
    font-size: 1.1em;
    font-weight: bold;
    color: #eee;
}

.footer {
    text-align: center;
    margin-top: 30px;
    font-style: italic;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    padding: 10px 0;
}

.footer a {
    color: #eee;
    text-decoration: none;
    font-size: 1.2em;
}

/* Specific styles for education.html */
.title-container {
    background-color: #666666;
    padding: 10px;
    margin-bottom: 20px;
}

.title-container h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
    color: #eee;
}

.subsection {
    background-color: rgba(102, 102, 102, 0.7);
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.subsection:hover {
    background-color: rgba(119, 119, 119, 0.7);
}

.subsection h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #eee;
}

.subsection p {
    font-size: 1em;
    margin-bottom: 10px;
    color: #eee;
}

a {
    text-decoration: none;
}

.chatgpt-tool {
    position: fixed;
    bottom: 80px;
    right: 20px;
    background-color: #444;
    color: #eee;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.chatgpt-tool:hover {
    background-color: #555;
}
